:root {
    /* Color Palette */
    --primary: #A9820F;
    --secondary: #DBA709;
    --tertiary: #F8C83A;
    --light: #ffffff;
    --dark: #000000;
    /* Font sizing */
    --xxs: 10px;
    --xs: 16px;
    --sm: 20px;
    --md: 34px;
    --lg: 55px;
    --xl: 70px;
}

@font-face {
    font-family: "CustomFont";
    src: url('../fonts/Inter-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    color: var(--light);
    box-sizing: border-box;
    font-family: "CustomFont", sans-serif;
}

*:before,
*:after {
    box-sizing: border-box;
}

body {
    min-width: 100%;
    min-height: 100vh;
}


/* Wrapper */

.wrapper--main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    background-color: var(--dark);
}

.wrapper--description {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 520px;
    margin-top: 24px;
}

.wrapper--buttons {
    margin-top: 18px;
}


/* Header */

.header--intro {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.header__greeting {
    font-size: var(--sm);
}

.header__title {
    margin-top: 12px;
    color: var(--primary);
    font-size: var(--xl);
    font-weight: bold;
    text-transform: uppercase;
}

.header__subtitle {
    font-size: var(--lg);
}

.header__description {
    max-width: 660px;
    margin-top: 24px;
    font-size: var(--sm);
}


/* Content */

.content--intro {
    margin-top: 12px;
}

.content__description {
    font-size: var(--sm);
}


/* Button */

.button {
    display: inline-block;
    margin: 6px 12px 6px 0;
    padding: 12px 24px;
    font-size: var(--xs);
    color: var(--dark);
    font-weight: bold;
    text-decoration: none;
    box-shadow: none;
    outline: none;
    border: 1px solid var(--primary);
    border-radius: 6px;
    background-color: var(--primary);
}

.button:hover {
    cursor: pointer;
    color: var(--primary);
    background-color: var(--dark);
}


/* Animations */

@keyframes fade {
    to {
        opacity: 1;
    }
}

.header__greeting,
.header__title,
.header__subtitle,
.header__description,
.content__description,
.button {
    animation: fade;
    animation-duration: 0.4s;
    animation-timing-function: ease-out;
    animation-direction: normal;
    animation-fill-mode: forwards;
    opacity: 0;
}

.header__greeting {
    animation-delay: 0.5s;
}

.header__title {
    animation-delay: 1.5s;
}

.header__subtitle {
    animation-delay: 2.5s;
}

.header__description {
    animation-delay: 3.5s;
}

.content__description {
    animation-delay: 4.5s;
}

.button {
    animation-delay: 5.5s;
}


/* Responsive */

@media (max-width: 1110px) {
    /* Wrapper */
    .wrapper--main {
        padding: 60px;
    }
    .wrapper--buttons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    /* Header */
    .header__greeting {
        font-size: var(--sm);
    }
    .header__title {
        font-size: var(--md);
    }
    .header__subtitle {
        font-size: var(--md);
    }
    .header__description {
        font-size: var(--xs);
    }
    /* Content */
    .content__description {
        font-size: var(--xs);
    }
    /* Button */
    .button {
        padding: 12px 24px;
        font-size: var(--xxs);
    }
}

@media (max-width: 440px) {
    /* Wrapper */
    .wrapper--main {
        padding: 20px 20px;
    }
}