* {
    margin: 0;
    padding: 0;
    color: #ffffff;
    box-sizing: border-box;
    font-family: 'Inter', Sans-serif;
}

*:before,
*:after {
    box-sizing: border-box;
}

:root {
    /* Color Palette */
    --primary: #C6F91F;
    --secondary: #D6F962;
    --tertiary: #4B6303;
    --quarternary: #82924F;
    --light: #ffffff;
    --dark: #000000;
    /* Font sizing */
    --xxs: 10px;
    --xs: 16px;
    --sm: 20px;
    --md: 34px;
    --lg: 55px;
    --xl: 70px;
}

body {
    background-color: var(--dark);
}

.wrapper {
    display: flex;
    flex-direction: column;
    margin: 120px 100px;
}

.greeting {
    margin-bottom: 12px;
    font-size: var(--md);
}

.headline {
    margin-bottom: 12px;
    color: var(--primary);
    font-size: var(--xl);
    font-weight: bold;
}

.sub-headline {
    margin-bottom: 24px;
    font-size: var(--lg);
}

.description {
    max-width: 575px;
    margin-bottom: 42px;
    font-size: var(--sm);
}

.button {
    width: 100%;
    max-width: 320px;
    padding: 15px;
    font-size: var(--sm);
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    border: 1px solid var(--primary);
    border-radius: 32px;
    outline: none;
    background: none;
}

.button:hover {
    cursor: pointer;
    transform: scale(1.1);
}


/* Animations */

@keyframes fade {
    to {
        opacity: 1;
    }
}

.greeting,
.headline,
.sub-headline,
.description,
.button {
    animation: fade;
    animation-duration: 0.4s;
    animation-timing-function: ease-out;
    animation-direction: normal;
    animation-fill-mode: forwards;
    opacity: 0;
}

.greeting {
    animation-delay: 0.5s;
}

.headline {
    animation-delay: 1.1s;
}

.sub-headline {
    animation-delay: 2.4s;
}

.description {
    animation-delay: 3.7s;
}

.button {
    animation-delay: 7s;
}


/* Responsive */

@media (max-width: 1120px) {
    .wrapper {
        margin: 48px 60px;
    }
    .greeting {
        font-size: var(--sm);
    }
    .headline {
        font-size: var(--md);
    }
    .sub-headline {
        font-size: var(--md);
    }
    .description {
        font-size: var(--xs);
    }
    .button {
        font-size: var(--sm);
    }
}

@media (max-width: 450px) {
    .wrapper {
        margin: 42px 20px;
    }
    .greeting {
        font-size: var(--sm);
    }
    .headline {
        font-size: var(--md);
    }
    .sub-headline {
        font-size: var(--md);
    }
    .description {
        font-size: var(--xs);
    }
    .button {
        font-size: var(--sm);
    }
}