@font-face {
    font-family: "CustomFont";
    src        : url('../fonts/Heebo-Regular.ttf');
}

:root {
    /* Color Palette */
    --primary     : #A9820F;
    --secondary   : #DBA709;
    --tertiary    : #F8C83A;
    --accent-color: #C6F91F;
    --dark        : #111111;
    --light-grey  : #A5A1A1;
    --dark-grey   : #454545;
    --text-color  : #FAF2F2;
    --text-white  : #FFFFFF;
    --text-black  : #000000;
    /* Font sizing */
    --xxs         : 10px;
    --xs          : 16px;
    --sm          : 20px;
    --md          : 34px;
    --lg          : 52px;
    --xl          : 72px;
    /* Font stack */
    --font-stack  : "CustomFont",
        sans-serif;
}

* {
    margin     : 0;
    padding    : 0;
    color      : var(--text-color);
    box-sizing : border-box;
    font-family: var(--font-stack);
}

*:before,
*:after {
    box-sizing: border-box;
}

body {
    background-color: var(--dark);
}

/* Layout */

.loader {
    position        : fixed;
    top             : 0;
    left            : 0;
    display         : flex;
    justify-content : center;
    align-items     : center;
    width           : 100%;
    height          : 100%;
    min-height      : 100vh;
    background-color: var(--dark);
}

.loader svg {
    width          : 60px;
    height         : 60px;
    margin         : auto;
    shape-rendering: auto;
}

.grid {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    width         : 100%;
    height        : 100%;
    min-height    : 100vh;
}

.topbar {
    display        : flex;
    flex-direction : row;
    justify-content: center;
    align-items    : center;
    width          : 100%;
    margin-bottom  : 28px;
    padding        : 20px;
}

.topbar .logo {
    cursor: pointer !important;
}

.hero {
    width     : calc(100%-48px);
    min-height: 100%;
    margin    : 0 24px;
    flex      : 1;
}

.footer {
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    align-items    : center;
    width          : 100%;
    margin-top     : 16px;
    padding        : 20px;
}

.footer .attribution {
    color    : var(--text-color);
    font-size: var(--xxs);
}

.footer .copyright-notice {
    color    : var(--text-color);
    font-size: var(--xxs);
}

/* Greeting */

.header {
    display        : flex;
    flex-wrap      : wrap;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    width          : 100%;
}

.header__intro {
    color      : var(--light-grey);
    font-size  : var(--sm);
    line-height: 120%;
}

.header__title {
    margin-top    : 12px;
    color         : var(--text-color);
    font-size     : var(--xl);
    font-weight   : bold;
    line-height   : 120%;
    text-transform: uppercase;
    text-align    : center;
}

.header__letter:hover {
    color: var(--accent-color);
}

.header__subtitle {
    color      : var(--light-grey);
    font-size  : var(--lg);
    line-height: 120%;
    text-align : center;
}

.header__description {
    max-width : 580px;
    margin-top: 18px;
    color     : var(--light-grey);
    font-size : var(--sm);
    text-align: center;
}

.header__socials {
    display        : flex;
    flex-direction : row;
    flex-wrap      : wrap;
    justify-content: center;
    align-items    : center;
    margin-top     : 22px;
}

.header__link {
    margin-right   : 8px;
    text-decoration: none;
}

.header__link:hover {
    transform: scale(1.1);
}

.header__icon {
    width : 48px;
    height: 48px;
    margin: 4px;
}

/* Animations */

@keyframes fade {
    to {
        opacity: 1;
    }
}

.grid {
    animation                : fade;
    animation-delay          : 0.1s;
    animation-duration       : 1s;
    animation-timing-function: ease-out;
    animation-direction      : normal;
    animation-fill-mode      : forwards;
    opacity                  : 0;
}

/* Responsive */

@media (max-width: 878px) {

    .header__greeting {
        font-size: var(--xs);
    }

    .header__title {
        font-size: var(--md);
    }

    .header__subtitle {
        font-size: var(--md);
    }

    .header__description {
        font-size: var(--xs);
    }

    .header__note {
        font-size: var(--xs);
    }

    .content__header {
        font-size: var(--xs);
    }
}

@media (max-width: 598px) {
    .header__icon {
        width : 42px;
        height: 42px;
        margin: 4px;
    }

    .footer {
        flex-direction: column;
    }

    .footer .attribution {
        margin-bottom: 5px;
        text-align   : center;
    }

    .footer .copyright-notice {
        text-align: center;
    }
}